body {
    width: 100%;
}

.btn-voltar {
    display: none;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    transition: 300ms ease;
}


.views-wrapper {
    transform: translateX(0);
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    transition: 300ms ease;
    
    width: 100%;
    overflow-x: hidden;

    margin-top: -9px; 
}

.view {

    width: 100%;
}

.view-detalhes {
    position: absolute;
    right: -100%;
    display: none;
}

.content .list .item {
    box-sizing: border-box;
    background: #263238 url(../img/right.png) no-repeat 90% 50% ;
    padding: 10px;
    float: left;
    min-height: 50px;
    width: 100%;
    border-top: solid 2px black;
}

.content .list .item img {
    float: left;
    margin-right: 7px;
}

.content .list span, .content .list small {
    display: block;
    padding: 7px
}

.content .list small {
    font-size: 90%
}

.margin-top {
    margin-top: 15px;
}

.preloader-wrapper-custom {
    width: 75px;
    margin: 30px auto;
}

h5 {
    background: #000;
    margin-top: -10px;
    padding: 5px;
}

.linha-tabs {
    margin-top: -9px;
     background: #000;
}

.fundo-preto {
    background: #000;
}

.img-hero img {
    width: 100%;
}