<!-- view-detalhes -->
<div class="view view-detalhes">
    <div class="row">
        <!-- abas -->
        <div class="col s12 row-tabs">
            <ul class="tabs black">
                <li class="tab col s3 waves-effect"><a href="#personagens">Personagens</a></li>
                <li class="tab col s3 waves-effect"><a href="#planetas">Planetas</a></li>
                <li class="tab col s3 waves-effect"><a href="#naves">Naves</a></li>
            </ul>
        </div>
        <!-- ./abas -->

        <!-- personagens -->
        <div id="personagens" class="col s12">
            <table id="listaDePersonagens" class="bordered responsible-table table-dados">
                <!-- aqui entra o spinner ou o conteúdo (arquivo data-factory.js) -->
            </table>
        </div>
        <!-- ./personagens -->

        <!-- planetas -->
        <div id="planetas" class="col s12">
            <table id="listaDePlanetas" class="bordered responsible-table table-dados">
                <!-- aqui entra um spinner ou o conteúdo (arquivo data-factory.js) -->
            </table>
        </div>
        <!-- ./planetas -->

        <!-- naves -->
        <div id="naves" class="col s12">
            <table id="listaDeNaves" class="bordered responsible-table table-dados">
                <!-- aqui entra um spinner ou o conteúdo (arquivo data-factory.js) -->
            </table>
        </div>
        <!-- ./naves -->
    </div>
</div>
<!-- ./view-detalhes -->