<!-- view-home -->
<div class="view view-home">
    <ul id="listaDeFilmes" class="collection">
        <!-- preloader -->
        <li>
            <div style="width: 75px; margin: 30px auto;">
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- ./preloader -->
    </ul>
</div>
<!-- ./view-home -->