<div class="busca-filmes-wrapper">
    <button ng-click="ativarBusca()">Mostra Campo Busca</button>
    <input ng-show="buscaAtivada" type="search" ng-model="keyword.title">

    <p ng-show="filmes.length > 0">{{ arrayFiltro.length }} filmes encontrados</p>

    <ul>
        <li ng-if="!arrayFiltro"><i>Carregando filmes...</i></li>
        <li ng-repeat="item in arrayFiltro = (filmes | filter: keyword)">
            <a href="#/detalhesFilme/{{ item.episode_id }}">{{ item.title }} - {{ item.director }} - {{ item.release_date | date: "yyyy"}}</a>
        </li>
    </ul>
</div>