.busca-filmes-wrapper li {
    padding: 5px;
    list-style: none;
}

.busca-filmes-wrapper input[type=search] {
    border: solid 1px #999;
    border-radius: 3px;
    padding: 5px;
    width: 200px;

    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    transition: all linear 0.3s;
}

.busca-filmes-wrapper input[type=search].ng-hide {
    width: 0;
}