a {
    color: inherit;
}

h5 {
    background: #000;
    margin-top: -10px;
    padding: 5px;
}

.views-container {
    transform: translateX(0);
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    transition: 300ms ease;
}

.view {
    width: 100%;
}

.view-detalhes {
    position: absolute;
    right: -100%;
    top: 0;
}

.row-tabs {
    margin-top: -9px;
    background: #000;
    position: fixed;
}

.fundo-preto {
    background: #000;
}

.img-hero img {
    width: 100%;
}